.cart-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    color :black;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}

.item-details {
    flex: 2;
}

.item-details h2 {
    font-size: 20px;
    margin: 0;
}

.item-details p {
    font-size: 16px;
    margin: 5px 0;
}



.cart-total {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.checkout-btn {
    background-color: orangered;
    color: white;
    width: 40%;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.remove-btn {
    background-color: hotpink;
    width: 30%;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}


.remove-btn:hover {
    background-color: pink;
    border-radius: 20px;
    width: 30%;
    padding: 10px;


}


.checkout-btn:hover {
    background-color: pink;
    border-radius: 20px;

    padding: 15px 30px;
    width: 40%;

}
